// This is dashboard styles.
.wp-fcu-quick-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .wp-fcu-quick-settings-item {
        min-width: 360px;
        max-width: 360px;
        background: #f3f4f5;
        overflow: hidden;
        min-height: 60px;
    }

    .wp-fcu-quick-settings-icon {

        $icon-size: 40px;

        align-items: center;
        background: #000;
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 80px;
        min-width: 80px;

        .dashicons {
            font-size: $icon-size;
            width: $icon-size;
            height: $icon-size;
        }
    }

    .wp-fcu-quick-settings-description {
        padding: 0 20px;
    }


    .wp-fcu-input-wrapper select,
    .wp-fcu-input-wrapper input[type="number"],
    .wp-fcu-input-wrapper input[type="range"],
    .wp-fcu-input-wrapper input[type="text"],
    .wp-fcu-input-wrapper input[type="email"]{
        max-width: 90px;
        min-width: 35px;
        height: 35px;
        font-size: 16px;
        text-align: center;
        padding: 0;
        background: white;
    }
}

.wp-fcu-admin-page  {


    .wp-fcu-file-info-container {
        margin-bottom: 30px;
        padding: 30px;
        background-color: #fff;
        background-image: url("../images/wave.svg");
        box-shadow: 0 0px 1px 1px #eaeaea;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .wp-fcu-content-main {
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 0px 1px 1px #eaeaea;
        // width: 70%;
    }

    .wp-fcu-content-aside {
        // width: 30%;
    }
}
